
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

$fa-font-path: "~font-awesome/fonts";
@import '~@fortawesome/fontawesome-free/css/all.min.css';
@import "~gijgo/css/gijgo.css";

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.actions{
  form{
    display: inline-block;
  }
}
.form-required{
  color: #ff0000;
  font-size: 14px;
  font-weight: bold;
}
.check-delete{
  margin-top: 1rem;
}
.check-delete label{
  font-weight: normal;
}
.card-image{
  text-align: center;
}
.toolbar-actions{
  margin-bottom: 1rem;
  text-align: right;
}
.navbar-laravel {
  background-color: #5f77bd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
.navbar-light .navbar-brand {
  color: #FFFFFF;
}
.navbar-light .navbar-nav .nav-link {
  color: #FFFFFF;
}
.tool {
  text-align: center;
  border: 1px solid #cdcdcd;
  border-radius: 5px;
  padding: 1rem 2rem;
  background-color: #FFFFFF;
}
.tool:hover{
  box-shadow: 10px 5px 5px 1px #cdcdcd;
}
.add-feature{
 padding: 1rem .5rem;
}