.toolbar-actions{
  text-align: right;
  display: inline-block;
  width: 100%;
}
.activate{
  color: $green;
}
.form-group{

  label{
    font-weight: bold;
    font-size: 14px;
    &.label-block{
      display: inline-block;
      width: 100%;
    }
  }
  .crop-canvas{
    img{
      width: 400px;
    }
  }
  .form-check{
    label{
      font-weight: normal;
    }
  }
}
